node_modules
/test-results.xml
.tern-port
.tern-project
.dir-locals.el
/dist
/docs/api*
/docs/examples
__pycache__
/.envrc
/yarn-error.log
.idea
/docker-compose.override.yml
/pnpm-debug.log
.vscode/
debug/
/coverage
coverage.*
.nyc_output/
/examples/**/package-lock.json
/examples/**/dist
.history
.site
