node_modules
/dist
/es
/docs/api
/docs/examples
/docs/public
__pycache__
.idea
.vscode
/coverage
/**/package-lock.json
/**/dist
/examples/**/artifacts
.history
.site
site
/src/apis/
/src/tx/builder/schema.generated.ts
/src/tx/builder/delegation/schema.generated.ts
/src/tx/builder/entry/schema.generated.ts
/tooling/autorest/compiler-swagger.yaml
/tooling/autorest/middleware-openapi.yaml
/test/environment/ledger/browser
/test/assets
/bin
