<%
   const codeTextToSkip = ['ISC License', 'usr/bin/env node']
   sections.forEach(section => {
%>
<%= section.docsText %>
<% if (section.codeText.trim() && !codeTextToSkip.some(a => section.codeText.includes(a))) { %>
```js
<%= section.codeText.trimEnd() %>
```
<% }}) %>
